<section class="block testimonial-block container">
    <!-- Slider main container -->
    <div class="testimonial-swiper swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <blockquote class="testimonial">
                    <img class="testimonial-img" src="images/woman.webp" alt="">
                    <div class="testimonial-body">
                        <h2 class="testimonial-name">Julian Goitsemang</h2>
                        <p class="testimonial-desc">Really enjoyed my experience working together to help me build a
                            portfolio for my business and I have to appreciate the time, quality and beautiful designs
                            he put into presenting my business, Thank You.</p>
                        <footer>
                            <p class="occupation">Business Owner - Julian Nails and Care</p>
                        </footer>
                    </div>
                </blockquote>
            </div>

            <div class="swiper-slide">
                <blockquote class="testimonial">
                    <img class="testimonial-img" src="images/woman.webp" alt="">
                    <div class="testimonial-body">
                        <h2 class="testimonial-name">Julian Goitsemang</h2>
                        <p class="testimonial-desc">Really enjoyed my experience working together to help me build a
                            portfolio for
                            my business and I have to appreciate the time, quality and beautiful designs he put into
                            presenting my
                            business, Thank You.</p>
                        <footer>
                            <p class="occupation">Business Owner - Julian Nails and Care</p>
                        </footer>
                    </div>
                </blockquote>
            </div>

            <div class="swiper-slide">
                <blockquote class="testimonial">
                    <img class="testimonial-img" src="images/woman.webp" alt="">
                    <div class="testimonial-body">
                        <h2 class="testimonial-name">Julian Goitsemang</h2>
                        <p class="testimonial-desc">Really enjoyed my experience working together to help me build a
                            portfolio for
                            my business and I have to appreciate the time, quality and beautiful designs he put into
                            presenting my
                            business, Thank You.</p>
                        <footer>
                            <p class="occupation">Business Owner - Julian Nails and Care</p>
                        </footer>
                    </div>
                </blockquote>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>